* {
    margin: 0;
    border: 0;
    padding: 0;
}

main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    border: 1px solid rgb(104, 104, 104);
}

.control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.4em;
    width: 40%;
    height: 5%;
}

#number-input {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 20px;
}

#create-grid {
    width: 70px;
    height: 20px;
    background-color: rgba(136, 237, 255, 0.555);
    border-radius: 6px;
}

.pixel {
    flex: 0 0 calc(100% / var(--grid-size));
    aspect-ratio: 1 / 1;
}