* {
    margin: 0;
    border: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.pixel {
    flex: 0 0 calc(100% / var(defaultGrid));
    background-color: black;
}