* {
    margin: 0;
    border: 0;
    padding: 0;
}

main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    border: 1px solid rgb(104, 104, 104);
}

.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4em;
}

.pixel {
    flex: 0 0 calc(100% / var(--grid-size));
    aspect-ratio: 1 / 1;
}